.profile {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  text-align: center;

  border: 1px solid rgba (150, 146, 146, 0.2);

  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.avatar {
  border-radius: 50%;
  margin: 0;
}

.name,
.quantity {
  font-size: 20px;
  font-weight: 700;
}

.stats {
  margin-left: auto;
  margin-right: auto;
  background-color: #f7f7f7;

  display: flex;
}

.stats > li {
  display: flex;

  padding: 30px;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid grey;
}

.stats > li:not(:last-child) {
  border-right: 1px solid grey;
}

.description {
  padding: 30px 100px;
}

.description > p {
  margin: 0;
  margin-top: 20px;
}

.quantity {
  margin-top: 10px;
}
