.online {
  display: block;
  border-radius: 50%;
  width: 20px;
  height: 20px;

  margin-right: 20px;

  background-color: green;
}

.offline {
  display: block;
  border-radius: 50%;
  width: 20px;
  height: 20px;

  margin-right: 20px;

  background-color: red;
}

.avatar {
  width: 48px;

  margin-right: 50px;
}

.name {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.item {
  display: flex;
  padding: 20px;
  align-items: center;

  background-color: rgba(236, 168, 225, 0.2);

  border: 1px solid rgba (150, 146, 146, 0.2);

  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.item:not(:last-child) {
  margin-bottom: 20px;
}
